main {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #84abf5;
    padding: 15px;
    background-color: #f0f0f0;
    color: #116cd4;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #3684dd;
    text-align: center;
}